@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.section-title{
  font-size:2.8rem;
  font-weight:bold;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 24px;

}
.display-flex{
  display: flex;
}
.text-gray{
  color:#424242;

}
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
 padding: 20px 25px;
  border-radius:8px;
  color: rgba(255, 255, 255, 1);
  font-size:1.25rem;
  border: none;
  margin-bottom:50px;
}
main{
  max-width: 1440px;
  margin:0 auto;
}
/* header styles */
/* navbar related styles */
.navbar{
  justify-content:space-between;
  align-items: center;
  
  
}
.nav-item{
  list-style: none;
  margin-right:30px;
}
.nave-link{
  text-decoration: none ;
  color:rgba(66, 66, 66, 1);
  font-size:18PX;
  font-weight: 500px;
  align-items: center;
}
.navbar, .banner{
  max-width:1440px;
  margin:0 auto;
}
.brand{
  font-size:3rem;
  font-weight:bold;
}
/* banner section style */
.banner{
}
.banner-title{
  font-size: 4rem;
  font-weight:bold;
}
.banner-description{
  font-size:1rem;
  margin-top: 10px;


}
.banner-content{
  max-width: 850px;
  margin:0 auto;
  text-align: center;

}
.btn-style{
  margin-bottom: 50px;
  margin-top: 32px;

}
.banner-img{
  width: 100%;
}
/* features section style */
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-img-container{
  margin-top:100px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features{
  margin: 130px;
  max-width: 530px;
  
}

#quick-list{
  color: rgba(114, 114, 114, 1);
  font-weight: 500;

}
#Features{
  color: rgba(255, 144, 14, 1);
}
.feature-description{
  font-size: 1rem;
  margin-bottom: 2rem;
}
/* responsive media query */
@media screen and (max-width:576px){
  .navbar, 
  .nave-link,
  .teams{
    flex-direction: column;
  }
.team-img-container{
  grid-template-columns:repeat(1,1fr)
}
.our-features{
  margin-left:10px;
}
}
/* feature will enjoy style */

 /* some facts style */
 .some-facts-heading{
  font-size: 2.8rem;
  font-weight: 900;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 24px;
 }
 .some-facts-pragrap{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 100px;
 }

.facts-container{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  
}
.fact{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius:8px;
  max-width:242px;
  max-height:242px;
text-align: center;

}
.fact-icon{
  height: 45px;
  width: 45px;
  margin-top: 45px;

}
.fact-number{
  font-size:2.8rem;
  color: rgba(66, 66, 66, 1);
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: -25px;
}
.fact-name{
  font-size:1rem;
  font-weight: 600;
  color:rgba(114, 114, 114, 1);
  margin-top:25px ;}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{flex-direction: column;}
  .our-features{
    margin:50px auto;
  }

}
